/* Global styles */

body {
  font-family: 'Times New Roman', Times, serif;
 
  margin: 0;
  padding: 0;
}
/* navbar */
.container-fluid{
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.2rem;


 
}
.container > a{
  font-size: 2rem;
}


/* Image styles */

#image {
  height: 35rem;
  max-width: 100%;
  height: auto;
}

/* Link styles */

.container-fluid > a {
  color: black;
  font-family: 'Lora', serif;
  font-size: 2rem;
  font-weight: 900;
}

/* Slider styles */

.carousel-container {
  position: relative;
  max-width: 700px;
  margin: 0 auto;
}

.carousel {
  display: flex;
  overflow: hidden;
}

.slide {
  flex: 1;
  margin-right: 10px;
  position: relative;
}

.slide img {
  width: 100%;
  height: auto;
  margin-top: 2.5rem;
}

.carousel-nav {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  font-family: 'Times New Roman', Times, serif;
}

.carousel-nav button {
  background-color: #fff;
  border: none;
  color: #333;
  cursor: pointer;
  font-size: 24px;
  margin: 0 10px;
  padding: 5px 10px;
}

.carousel-nav button:focus {
  outline: none;
}

.prev-btn {
  transform: rotate(180deg);
}

.slide.active {
  opacity: 1;
}

.slide.inactive {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  transition: opacity 0.5s;
}

/* Slogan styles */

#slogan {
  color: white;
  font-size: 3rem;
  font-family: 'Lora', serif;
  font-weight: 900;
  line-height: 1.5;
  margin: 10px;
  font-family: 'Times New Roman', Times, serif;
}

/* Line99 styles */

#line99 {
  color: white;
  font-family: 'Lora', serif;
  font-size: 1.5rem;
  font-family: 'Times New Roman', Times, serif;
}

@media (max-width: 768px) {
  /* Adjustments for smaller screens */
  #line99 {
    font-size: 14px;
    line-height: 1.3;
    margin: 5px;
    
  }
}

@media (max-width: 480px) {
  /* Adjustments for even smaller screens */
  #line99 {
    font-size: 12px;
    line-height: 1.2;
    margin: 2px;
    
  }
}

/* Cat styles */

.line1 {
  margin-left: 4rem;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
  margin-top: 7rem;
}

#catDiv {
  margin: 40px 6% 0 6%;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

.cat {
  display: inline-block;
  width: 16rem;
  height: 16rem;
  box-sizing: border-box;
  text-align: center;
  overflow: hidden;
  border-radius: 5%;
}

.cat img {
  width: 100%;
  height: 100%;
}

.cat:hover img {
  position: static;
  width: 150%;
  height: 150%;
  align-self: center;
  margin: -25% 0 0 -25%;
  transition: width linear 0.5s, height linear 0.5s, margin linear 0.5s;
}

.catOverlay {
  position: relative;
  margin: 1rem;
}

.catOverlay:before,
.catOverlay:after {
  position: absolute;
  top: 0;
  left: 0;
  height: 10%;
  width: 10%;
  opacity: 0;
  content: "";
}

.catOverlay:hover:before,
.catOverlay:hover:after {
  opacity: .6;
  background-color: grey;
  height: 100%;
  width: 100%;
  transition: background-color linear 0.5s, height linear 0.5s, width linear 0.5s;
}

.catOverlay:after {
  bottom: 0;
  right: 0;
}

.catTitle {
  font-family: 'Times New Roman', Times, serif;
  text-transform: uppercase;
  position: absolute;
  display: block;
  color: #FFFFFF;
  text-shadow: 5px 5px 10px black;
  font-size: x-large;
  left: 50%;
  margin: -60% 0 0 -25%;
  width: 50%;
  height: auto;
  z-index: 2;
}

.catHeading {
  text-align: center;
  font-weight: bolder;
  font-size: 3em;
}

.catSub {
  text-align: center;
  font-weight: bolder;
  font-size: 1.8em;
}

/* Grid styles */

section {
  max-width: 1180px;
  margin: 0 auto;
}

h1 {
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  margin: 4rem 0 0 0;
  font-family: 'Times New Roman', Times, serif;
}

.list {
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5rem 0;
}

.list > .product {
  width: 200px;
  float: left;
  height: 300px;
  background: #fff;
  margin: 1%;
  position: relative;
}

.product > div {
  text-align: center;
  position: absolute;
  bottom: 0;
  height: 0;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  border-radius: 4px;
}

.product:hover > div {
  position: absolute;
  height: 300px;
  background: rgba(255, 255, 255, 0.5);
}

.product > img {
  margin: 0 auto;
  display: block;
  border-radius: 4px;
}

.product:hover > img {
  -webkit-filter: blur(3px) saturate(1.5);
  filter: blur(3px) saturate(1.5);
}

.product > div > h2 {
  border-bottom: 1px solid #818181;
  padding: 0 0 1rem;
}

.descr {
  font-size: 0.8rem;
  padding: 2rem;
  line-height: 1.2rem;
  font-weight: 600;
}

.product > div > a > p {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1rem;
  line-height: 2.4rem;
  background: #000;
  color: #fff;
  position: absolute;
  width: 100%;
  bottom: 0;
  margin: 0 auto !important;
  transition: all 0.2s;
}

.product > div > a > p:hover {
  filter: brightness(.9);
  letter-spacing: 4px;
}

/* Offer styles */

section {
  padding: 60px 0;
  min-height: 100vh;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  outline: none;
}

.site-heading h2 {
  display: block;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-family: 'Times New Roman', Times, serif;
}

.site-heading h2 span {
  color: grey;
}

.site-heading {
  margin-bottom: 60px;
  overflow: hidden;
  margin-top: -5px;
}

.carousel-shadow .owl-stage-outer {
  margin: -15px -15px 0;
  padding: 15px;
}

.we-offer-area .our-offer-carousel .owl-dots .owl-dot span {
  background: #ffffff none repeat scroll 0 0;
  border: 2px solid;
  height: 15px;
  margin: 0 5px;
  width: 15px;
}

.we-offer-area .item {
  background: #ffffff none repeat scroll 0 0;
  -moz-box-shadow: 0 0 10px #cccccc;
  -webkit-box-shadow: 0 0 10px #cccccc;
  -o-box-shadow: 0 0 10px #cccccc;
  box-shadow: 0 0 10px #cccccc;
  overflow: hidden;
  padding: 30px;
  position: relative;
  z-index: 1;
}

.we-offer-area.text-center .item {
  background: #ffffff none repeat scroll 0 0;
  border: medium none;
  padding: 67px 40px 64px;
}

.we-offer-area.text-center .item i {
  background: black none repeat scroll 0 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  color: #ffffff;
  font-size: 40px;
  height: 80px;
  line-height: 80px;
  position: relative;
  text-align: center;
  width: 80px;
  z-index: 1;
  transition: all 0.35s ease-in-out;
}

.we-offer-area.text-center .item i::after {
  border: 2px solid black;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  content: "";
  height: 90px;
  left: -5px;
  position: absolute;
  top: -5px;
  width: 90px;
  z-index: -1;
  transition: all 0.35s ease-in-out;
}

.we-offer-area.item-border-less .item {
  border: medium none;
}

.we-offer-area .our-offer-items.less-carousel .equal-height {
  margin-bottom: 30px;
}

.we-offer-area.item-border-less .item .number {
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  font-weight: 900;
  opacity: 0.1;
  position: absolute;
  right: 30px;
  top: 30px;
}

.our-offer-carousel.center-active .owl-item:nth-child(2n) .item i,
.our-offer-carousel.center-active .owl-item:nth-child(2n) .item p,
.we-offer-area.center-active .single-item:nth-child(2n) .item i,
.we-offer-area.center-active .single-item:nth-child(2n) .item p {
  color: rgb(228, 228, 228);
}

.item h4 {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 900;
}

.item p {
  font-family: 'Times New Roman', Times, serif;
}

.we-offer-area .item i {
  color: white;
  display: inline-block;
  font-size: 60px;
  margin-bottom: 20px;
}

.we-offer-area .item i, .we-offer-area .item p {
  transition: all 0.35s ease-in-out;
}

.we-offer-area .item::after {
  background: rgb(228, 228, 228) none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: -100%;
  position: absolute;
  top: 0;
  transition: all 0.35s ease-in-out;
}

.we-offer-area .item:hover::after {
  left: 0;
}

.we-offer-area .item:hover i, .we-offer-area .item:hover p {
  color: black !important;
}

.we-offer-area.text-center .item:hover i::after {
  border-color: black !important;
}

.we-offer-area.text-center .item:hover i {
  background-color: #ffffff !important;
  color: black !important;
}

/* Testimonials styles */

.testimonials {
  padding-bottom: 2.2em;
  text-align: center;
}

.testimonials h1 {
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  margin: 4rem 0 0 0;
}

.testimonials .test-body {
  padding: 1em;
}

.testimonials .item {
  text-align: center;
  padding: 1em 0;
}

.testimonials img {
  width: 4.8em;
  height: 4.8em;
  border-radius: 50%;
}

.testimonials .name {
  color: grey;
}

.testimonials .desig {
  font-size: 0.7em;
  padding: 0.5em 0;
}

.testimonials .share {
  margin: 0 auto;
  width: 5em;
  display: flex;
  justify-content: space-between;
}

.testimonials i {
  color: #bfbfbf;
  padding: 0.5em 0;
  transition: all 0.5s;
  cursor: pointer;
}

.testimonials i:hover {
  color: grey;
}

.testimonials p {
  max-width: 27em;
  margin: 0 auto;
  font-size: 0.8em;
}

.testimonials button {
  font-size: 1em;
  background-color: black;
  color: white;
  padding: 0.8em 2em;
  border-radius: 2em;
  border: 0;
  cursor: pointer;
  transition: all 0.2s;
}

.testimonials button:hover {
  background-color: #444;
}
#btnnn{
  font-family: 'Times New Roman', Times, serif;
}

@media (min-width: 38.4rem) {
  .testimonials {
    font-size: 1.2em;
  }

  .testimonials .test-body {
    display: flex;
    justify-content: center;
  }

  .testimonials p {
    text-align: left;
    padding: 1em;
  }
}

/* footer starts */
.footer {
  background-color:black;
  color: #fff;
  padding: 30px 0;
}

.footer .row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.footer .col {
  flex: 1;
  margin-right: 20px;
}

.footer h4 {
  margin-bottom: 10px;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer ul li {
  margin-bottom: 8px;
}

.footer .contact-info {
  display: flex;
  flex-direction: column;
}
.finals{
  text-decoration: none;
  color: white;
}
.finals:hover {
  color: white; /* Set the text color when hovering */
}
/* footer ends */


/* whatsappp starts*/
#whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

#whatsapp-button a img {
  width: 60px; /* Adjust the size as needed */
  height: auto;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

#whatsapp-button a img:hover {
  transform: scale(1.1);
}
/* watsapp ends */

/* newletter starts */
.newsletter-container {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 50px;
}

.newsletter-heading {
  font-size: 24px;
  margin-bottom: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 900;
}

.newsletter-subheading {
  font-size: 16px;
  color: #888;
  margin-bottom: 20px;
  font-family: 'Times New Roman', Times, serif;
}

.email-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  margin-bottom: 20px;
}

.subscribe-button {
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  font-family: 'Times New Roman', Times, serif;
}

.subscribe-button:hover {
  background-color: grey;
}
/* newletter ends */

/* brands starts */
.trending-brands {
  text-align: center;
  margin-top: 20px;
}
.trending-brands h2 {
  font-size: 24px;
  margin-bottom: 15px;
}
.slider-container {
  overflow: hidden;
}
.slider {
  list-style: none;
  display: flex;
  /* animation: slide 110s linear infinite; */
  padding: 0;
  margin: 0;
}
.slider li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  width: 230px; /* Adjust this width as needed */
  display: flex;
  align-items: center;
}
.slider img {
  width: 94px; /* Adjust this width as needed */
  height: auto;
  margin-right: 10px;
}
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
  .trending-brands h2 {
    font-size: 20px;
  }

  .slider li {
    width: 100px;
    padding: 5px;
  }

  .slider img {
    width: 20px;
    margin-right: 5px;
  }
}
/* brands ends */

/* payments starts */
.payment-container {
  font-family: 'Times New Roman', Times, serif;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 700px; /* Set a maximum width */
}

.payment-options {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally on small screens */
  gap: 10px;
}

.payment-option {
  display: flex;
  align-items: center;
}

.payment-logo {
  width: 40px;
  margin-right: 10px;
}

/* Responsive styles */
@media (min-width: 768px) {
  .payment-options {
    flex-direction: row;
    align-items: center;
  }
}
/* payments ends */