<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link href="https://unpkg.com/tailwindcss@^2.2.7/dist/tailwind.min.css" rel="stylesheet"/>
  <link href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" rel="stylesheet" crossorigin="anonymous" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"/>
  <link rel="stylesheet" href="products.css"/>
  <title>HOODIES</title>
</head>
<body>
<div class="container mx-auto mt-10">
  <h1 class="title">HOODIES</h1>
  <div class="flex flex-wrap items-center justify-center">
    <!-- row 1 starts -->
    <div class="w-full px-2 my-2 sm:w-1/2 lg:w-1/4">
      <div class="shadow-md overflow-hidden rounded-lg bg-white hover:shadow-lg">
        <a href="#" class="block">
          <img src="https://source.unsplash.com/500x500/?hoodies" class="w-full object-cover block mx-auto"/>
        </a>

        <a href="#" class="block text-left text-base font-normal mt-2 ml-4">
          Samsung Z Fold 4 1TB Rose Gold
        </a>

        <div class="ml-4 my-2 text-yellow-500">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fal fa-star"></i>
          <i class="fal fa-star"></i>
        </div>

        <h3 class="font-bold text-left text-3xl mb-1 ml-4">$1,799.00</h3>

        <span class="mb-4">
          <span class="bg-red-600 text-white text-sm font-medium mr-1 ml-4 mb-4 px-2.5 py-0.5 p-1">
            Save $100
          </span>
          <span class="text-gray-600">Was $1,899.00</span>
        </span>

        <div class="mx-auto px-4 my-4">
          <button class="w-full py-2 border-2 border-blue-600 bg-blue-600 text-white rounded mr-2 uppercase hover:text-blue-700 hover:bg-transparent">
            <i class="fad fa-shopping-cart mx-1"></i>
            <span class="mr-2">Add to cart</span>
          </button>
        </div>
      </div>
    </div>
    <div class="w-full px-2 my-2 sm:w-1/2 lg:w-1/4">
      <div class="shadow-md overflow-hidden rounded-lg bg-white hover:shadow-lg">
        <a href="#" class="block">
          <img src="https://source.unsplash.com/500x500/?hoodies" class="w-full object-cover block mx-auto"/>
        </a>

        <a href="#" class="block text-left text-base font-normal mt-2 ml-4">
          Samsung Z Fold 4 1TB Rose Gold
        </a>

        <div class="ml-4 my-2 text-yellow-500">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fal fa-star"></i>
          <i class="fal fa-star"></i>
        </div>

        <h3 class="font-bold text-left text-3xl mb-1 ml-4">$1,799.00</h3>

        <span class="mb-4">
          <span class="bg-red-600 text-white text-sm font-medium mr-1 ml-4 mb-4 px-2.5 py-0.5 p-1">
            Save $100
          </span>
          <span class="text-gray-600">Was $1,899.00</span>
        </span>

        <div class="mx-auto px-4 my-4">
          <button class="w-full py-2 border-2 border-blue-600 bg-blue-600 text-white rounded mr-2 uppercase hover:text-blue-700 hover:bg-transparent">
            <i class="fad fa-shopping-cart mx-1"></i>
            <span class="mr-2">Add to cart</span>
          </button>
        </div>
      </div>
    </div>

    <div class="w-full px-2 my-2 sm:w-1/2 lg:w-1/4">
      <div class="shadow-md overflow-hidden rounded-lg bg-white hover:shadow-lg">
        <a href="#" class="block">
          <img src="https://source.unsplash.com/500x500/?hoodies" class="w-full object-cover block mx-auto"/>
        </a>

        <a href="#" class="block text-left text-base font-normal mt-2 ml-4">
          Huawei Mate 50 Pro 512GB Orange
        </a>

        <div class="ml-4 my-2 text-yellow-500">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>

        <h3 class="font-bold text-left text-3xl mb-1 ml-4">$1,199.00</h3>

        <span class="mb-4">
          <span class="bg-red-600 text-white text-sm font-medium mr-1 ml-4 mb-4 px-2.5 py-0.5 p-1">
            Save $200
          </span>
          <span class="text-gray-600">Was $1,399.00</span>
        </span>

        <div class="mx-auto px-4 my-4">
          <button class="w-full py-2 border-2 border-blue-600 bg-blue-600 text-white rounded mr-2 uppercase hover:text-blue-700 hover:bg-transparent">
            <i class="fad fa-shopping-cart mx-1"></i>
            <span class="mr-2">Add to cart</span>
          </button>
        </div>
      </div>
    </div>

    <div class="w-full px-2 my-2 sm:w-1/2 lg:w-1/4">
      <div class="shadow-md overflow-hidden rounded-lg bg-white hover:shadow-lg">
        <a href="#" class="block">
          <img src="https://source.unsplash.com/500x500/?hoodies" class="w-full object-cover block mx-auto"/>
        </a>

        <a href="#" class="block text-left text-base font-normal mt-2 ml-4">
          IPhone 14 pro Max 256GB Rose Gold
        </a>

        <div class="ml-4 my-2 text-yellow-500">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fal fa-star"></i>
        </div>

        <h3 class="font-bold text-left text-3xl mb-1 ml-4">$1,199.00</h3>

        <span class="mb-4">
          <span class="bg-red-600 text-white text-sm font-medium mr-1 ml-4 mb-4 px-2.5 py-0.5 p-1">
            Save $50
          </span>
          <span class="text-gray-600">Was $1,249.00</span>
        </span>

        <div class="mx-auto px-4 my-4">
          <button class="w-full py-2 border-2 border-blue-600 bg-blue-600 text-white rounded mr-2 uppercase hover:text-blue-700 hover:bg-transparent">
            <i class="fad fa-shopping-cart mx-1"></i>
            <span class="mr-2">Add to cart</span>
          </button>
        </div>
      </div>
    </div>
    <!-- row 1 ends -->
    <!-- row 2 starts -->
    <div class="w-full px-2 my-2 sm:w-1/2 lg:w-1/4">
      <div class="shadow-md overflow-hidden rounded-lg bg-white hover:shadow-lg">
        <a href="#" class="block">
          <img src="https://source.unsplash.com/500x500/?hoodies" class="w-full object-cover block mx-auto"/>
        </a>

        <a href="#" class="block text-left text-base font-normal mt-2 ml-4">
          Samsung Z Fold 4 1TB Rose Gold
        </a>

        <div class="ml-4 my-2 text-yellow-500">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fal fa-star"></i>
          <i class="fal fa-star"></i>
        </div>

        <h3 class="font-bold text-left text-3xl mb-1 ml-4">$1,799.00</h3>

        <span class="mb-4">
          <span class="bg-red-600 text-white text-sm font-medium mr-1 ml-4 mb-4 px-2.5 py-0.5 p-1">
            Save $100
          </span>
          <span class="text-gray-600">Was $1,899.00</span>
        </span>

        <div class="mx-auto px-4 my-4">
          <button class="w-full py-2 border-2 border-blue-600 bg-blue-600 text-white rounded mr-2 uppercase hover:text-blue-700 hover:bg-transparent">
            <i class="fad fa-shopping-cart mx-1"></i>
            <span class="mr-2">Add to cart</span>
          </button>
        </div>
      </div>
    </div>
    <div class="w-full px-2 my-2 sm:w-1/2 lg:w-1/4">
      <div class="shadow-md overflow-hidden rounded-lg bg-white hover:shadow-lg">
        <a href="#" class="block">
          <img src="https://source.unsplash.com/500x500/?hoodies" class="w-full object-cover block mx-auto"/>
        </a>

        <a href="#" class="block text-left text-base font-normal mt-2 ml-4">
          Samsung Z Fold 4 1TB Rose Gold
        </a>

        <div class="ml-4 my-2 text-yellow-500">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fal fa-star"></i>
          <i class="fal fa-star"></i>
        </div>

        <h3 class="font-bold text-left text-3xl mb-1 ml-4">$1,799.00</h3>

        <span class="mb-4">
          <span class="bg-red-600 text-white text-sm font-medium mr-1 ml-4 mb-4 px-2.5 py-0.5 p-1">
            Save $100
          </span>
          <span class="text-gray-600">Was $1,899.00</span>
        </span>

        <div class="mx-auto px-4 my-4">
          <button class="w-full py-2 border-2 border-blue-600 bg-blue-600 text-white rounded mr-2 uppercase hover:text-blue-700 hover:bg-transparent">
            <i class="fad fa-shopping-cart mx-1"></i>
            <span class="mr-2">Add to cart</span>
          </button>
        </div>
      </div>
    </div>
    <div class="w-full px-2 my-2 sm:w-1/2 lg:w-1/4">
      <div class="shadow-md overflow-hidden rounded-lg bg-white hover:shadow-lg">
        <a href="#" class="block">
          <img src="https://source.unsplash.com/500x500/?hoodies" class="w-full object-cover block mx-auto"/>
        </a>

        <a href="#" class="block text-left text-base font-normal mt-2 ml-4">
          Huawei Mate 50 Pro 512GB Orange
        </a>

        <div class="ml-4 my-2 text-yellow-500">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>

        <h3 class="font-bold text-left text-3xl mb-1 ml-4">$1,199.00</h3>

        <span class="mb-4">
          <span class="bg-red-600 text-white text-sm font-medium mr-1 ml-4 mb-4 px-2.5 py-0.5 p-1">
            Save $200
          </span>
          <span class="text-gray-600">Was $1,399.00</span>
        </span>

        <div class="mx-auto px-4 my-4">
          <button class="w-full py-2 border-2 border-blue-600 bg-blue-600 text-white rounded mr-2 uppercase hover:text-blue-700 hover:bg-transparent">
            <i class="fad fa-shopping-cart mx-1"></i>
            <span class="mr-2">Add to cart</span>
          </button>
        </div>
      </div>
    </div>
    <div class="w-full px-2 my-2 sm:w-1/2 lg:w-1/4">
      <div class="shadow-md overflow-hidden rounded-lg bg-white hover:shadow-lg">
        <a href="#" class="block">
          <img src="https://source.unsplash.com/500x500/?hoodies" class="w-full object-cover block mx-auto"/>
        </a>

        <a href="#" class="block text-left text-base font-normal mt-2 ml-4">
          IPhone 14 pro Max 256GB Rose Gold
        </a>

        <div class="ml-4 my-2 text-yellow-500">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fal fa-star"></i>
        </div>

        <h3 class="font-bold text-left text-3xl mb-1 ml-4">$1,199.00</h3>

        <span class="mb-4">
          <span class="bg-red-600 text-white text-sm font-medium mr-1 ml-4 mb-4 px-2.5 py-0.5 p-1">
            Save $50
          </span>
          <span class="text-gray-600">Was $1,249.00</span>
        </span>

        <div class="mx-auto px-4 my-4">
          <button class="w-full py-2 border-2 border-blue-600 bg-blue-600 text-white rounded mr-2 uppercase hover:text-blue-700 hover:bg-transparent">
            <i class="fad fa-shopping-cart mx-1"></i>
            <span class="mr-2">Add to cart</span>
          </button>
        </div>
      </div>
    </div>
    <!-- row 2 ends -->
    <!-- row 3 starts -->
    <div class="w-full px-2 my-2 sm:w-1/2 lg:w-1/4">
      <div class="shadow-md overflow-hidden rounded-lg bg-white hover:shadow-lg">
        <a href="#" class="block">
          <img src="https://source.unsplash.com/500x500/?hoodies" class="w-full object-cover block mx-auto"/>
        </a>

        <a href="#" class="block text-left text-base font-normal mt-2 ml-4">
          Samsung Z Fold 4 1TB Rose Gold
        </a>

        <div class="ml-4 my-2 text-yellow-500">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fal fa-star"></i>
          <i class="fal fa-star"></i>
        </div>

        <h3 class="font-bold text-left text-3xl mb-1 ml-4">$1,799.00</h3>

        <span class="mb-4">
          <span class="bg-red-600 text-white text-sm font-medium mr-1 ml-4 mb-4 px-2.5 py-0.5 p-1">
            Save $100
          </span>
          <span class="text-gray-600">Was $1,899.00</span>
        </span>

        <div class="mx-auto px-4 my-4">
          <button class="w-full py-2 border-2 border-blue-600 bg-blue-600 text-white rounded mr-2 uppercase hover:text-blue-700 hover:bg-transparent">
            <i class="fad fa-shopping-cart mx-1"></i>
            <span class="mr-2">Add to cart</span>
          </button>
        </div>
      </div>
    </div>
    <div class="w-full px-2 my-2 sm:w-1/2 lg:w-1/4">
      <div class="shadow-md overflow-hidden rounded-lg bg-white hover:shadow-lg">
        <a href="#" class="block">
          <img src="https://source.unsplash.com/500x500/?hoodies" class="w-full object-cover block mx-auto"/>
        </a>

        <a href="#" class="block text-left text-base font-normal mt-2 ml-4">
          Samsung Z Fold 4 1TB Rose Gold
        </a>

        <div class="ml-4 my-2 text-yellow-500">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fal fa-star"></i>
          <i class="fal fa-star"></i>
        </div>

        <h3 class="font-bold text-left text-3xl mb-1 ml-4">$1,799.00</h3>

        <span class="mb-4">
          <span class="bg-red-600 text-white text-sm font-medium mr-1 ml-4 mb-4 px-2.5 py-0.5 p-1">
            Save $100
          </span>
          <span class="text-gray-600">Was $1,899.00</span>
        </span>

        <div class="mx-auto px-4 my-4">
          <button class="w-full py-2 border-2 border-blue-600 bg-blue-600 text-white rounded mr-2 uppercase hover:text-blue-700 hover:bg-transparent">
            <i class="fad fa-shopping-cart mx-1"></i>
            <span class="mr-2">Add to cart</span>
          </button>
        </div>
      </div>
    </div>
    <div class="w-full px-2 my-2 sm:w-1/2 lg:w-1/4">
      <div class="shadow-md overflow-hidden rounded-lg bg-white hover:shadow-lg">
        <a href="#" class="block">
          <img src="https://source.unsplash.com/500x500/?hoodies" class="w-full object-cover block mx-auto"/>
        </a>

        <a href="#" class="block text-left text-base font-normal mt-2 ml-4">
          Huawei Mate 50 Pro 512GB Orange
        </a>

        <div class="ml-4 my-2 text-yellow-500">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>

        <h3 class="font-bold text-left text-3xl mb-1 ml-4">$1,199.00</h3>

        <span class="mb-4">
          <span class="bg-red-600 text-white text-sm font-medium mr-1 ml-4 mb-4 px-2.5 py-0.5 p-1">
            Save $200
          </span>
          <span class="text-gray-600">Was $1,399.00</span>
        </span>

        <div class="mx-auto px-4 my-4">
          <button class="w-full py-2 border-2 border-blue-600 bg-blue-600 text-white rounded mr-2 uppercase hover:text-blue-700 hover:bg-transparent">
            <i class="fad fa-shopping-cart mx-1"></i>
            <span class="mr-2">Add to cart</span>
          </button>
        </div>
      </div>
    </div>
    <!-- row 3 ends -->
  </div>
</div>
</body>
</html>

